@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    background: #000;
}

/* Headings */

h1 h2 h3 {
    font-family: 'Montserrat', sans-serif;
}