@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADINGS */

h1 h2 h3 {
    font-family: 'Montserrat', sans-serif;
}

/* NAV BAR */

.topnav {
  overflow: hidden;
  background-color: #aaa9ad;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}

.topnav a {
  float: left;
  display: block;
  color: #090c18;
  text-align: center;
  font-weight: 500;
  padding: 1.5rem 1.5rem;
  text-decoration: none;
  font-size: 1.13rem;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}

.topnav a.active {
  background-color: #f2f2f2;
  color: black;
}
.topnav .icon {
  display: none;
}

/* LOGO ICON IN NAV BAR */

.topnav img {
  height: 1rem;
  width: 1rem;
}

/* HOME PAGE */
/* WELCOME SECTION TITLE AND HERO IMAGE */

#welcome {
  height: 43.75rem;
  width: 100%;
}

#hero-image {
  background: url('../images/personal-trainer2.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

#welcome h1 {
  text-align: center;
  color: #000; 
  padding: 1rem;
  margin: 0;
}

/* WELCOME MESSAGE */

#welcome-text h2 {
  text-align: center; 
  color: #000;
  font-size: 1.25em;
  padding: 0 1rem;
}

/* 3 OPTION BOXES ON HOME PAGE */

.options {
  height: 21.88rem;
  width: 100%;
  text-align: center;
  padding: 3.12rem 0;
}

.options a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
  font-weight: 700;
}

.options-box {
  height: 100%;
  width: 30%;
  float: left;
  margin: 2rem 1rem;
  background: rgba(170, 169, 173, 0.3);
}

.options-box p, .options-box li {
  padding: 0 1rem;
}

.options-box li {
  text-align: left;
}

.options-box:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

/* SERVICES PAGE */

#services-container {
  height: 50rem;
  width: 100%;
  text-align: center;
  padding: 1.25rem 0 0 0;
  background: url('../images/services-image.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.box-serv {
  height: 15.63rem;
  width: 45%;
  float: left;
  margin: 1rem 1rem;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.box-serv li {
  text-align: left;
  font-weight: 600;
}

.click-to-enquire {
  height: 3.12rem;
  width: 95%;
  float: left;
  margin: 1rem 1rem;
  text-align: center;
}

/* ABOUTME PAGE */

#me {
  height: 56.25rem;
  width: 100%;
  text-align: center;
  padding: 1.25rem 0;
  background: url('../images/about-me.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.box-me {
  height: 28.75rem;
  width: 45%;
  float: left;
  margin: 1rem 1rem;
  padding: 0;
}

.box-me p {
  font-weight: 600;
}

#video video {
  height: 21.88rem;
  width: 100%;
  position: relative;
  top: 3.12rem;
  padding: 0;
}

#location {
  width: 100%;
  height: 15.66rem;
  float: left;
  margin: 0 auto;
}

/* ENQUIRY PAGE */

#form {
  background: url('../images/enquire.jpeg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 45rem;
}

#enquire-form {
  max-width: 50rem;
  padding: 1rem;
  margin: 0 auto;    
}

fieldset legend {
  font-size: x-large;
}

fieldset label {
  font-weight: bold;
}

.text-input {
  width: 100%;
  height: 1.88rem;
  border: 1px solid black;
  border-radius: 5px;
}

.message-input {
  width: 100%;
  height: 5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.submit {
  width: 100%;
  height: 3.12rem;
  font-weight: bold;
  background: rgba(170, 169, 173, 0.3);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
}

.submit:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* FOOTER */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #aaa9ad;
  color: white;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}

/* SOCIAL MEDIA LINKS */

.footer-social {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.footer-social ul {
  padding: inherit;
}

.footer-social li {
  display: inline;
  padding: 1rem 2rem;
}

.footer-social i {
  font-size: 160%;
  padding: 0.63rem;
}

.footer-social a:hover {
  color: #1c3fec;
}

/* MEDIA QUERIES */

/* MEDIA QUERY TO CHANGE IMAGE AND CONTENT ON ABOUTME.HTML PAGE TO POSITION ON SCREEN SIZES UP TO 1032px */

@media(max-width: 1032px) {
  #me {
    height: 68.75rem;
    background-position: 20% 80%;
  }
  
  .box-me {
    height: 23.75rem;
    width: 100%;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 0;
  }

  #bio p {
    padding: 0 3.12rem;
  }

  #video video {
    top: 0;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    width: 90%;
    position: static;
    top: 3.12rem;
    padding: 0 1rem;
  }
  
  #location h3 {
    margin: 1rem 0;
  }
}

/* MEDIA QUERY TO CHANGE POSITIONING OF BOXES ON SERVICES.HTML PAGE ON SCREEN SIZES UP TO 980px */

@media(max-width: 980px) {
  #services-container {
    height: 62.5rem;
  }

  .box-serv {
    height: 12.5rem;
    width: 96%;
    float: left;
    margin: 0 1rem;
  }

  .box-serv ul {
    padding: inherit;
  } 

  .box-serv ul li {
    text-align: center;
    list-style-position: inside;
  }
}

/* MEDIA QUERY TO CHANGE OPTION BOXES ON INDEX.HTML PAGE TO POSITION ON SCREEN SIZES UP TO 971px */

@media(max-width: 971px) {
  .options-box {
    height: 90%;
    width: 100%;
    display: block;
    float: left;
    background: rgba(170, 169, 173, 0.3);
    margin: 2rem 0;
  }
  
  .options-box ul {
    padding: inherit;
  }

  .options-box ul li {
    text-align: center;
    list-style-position: inside;
    margin: auto 0;
  }

  #hero-image {
    height: 13.75rem;
    width: 100%;
    background-attachment: unset;
  }

  #services {
    background: url('../images/services-image.jpg') no-repeat center center;
    background-size: cover;
  }

  #about-me {
    background: url('../images/about-me.jpg') no-repeat center center;
    background-size: cover;
    background-position: top;
  }

  #enquire {
    background: url('../images/enquire.jpeg') no-repeat center center;
    background-size: cover;
  }
}

/* MEDIA QUERY TO CHANGE IMAGE AND CONTENT ON ABOUTME.HTML PAGE TO POSITION ON SCREEN SIZES UP TO 800px */

@media(max-width: 800px) {
  #me {
    height: 75rem;
  }

  .box-me {
    height: 26.25rem;
    width: 100%;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }
   
  #location h3 {
    margin: 1rem;
  }
}

/* MEDIA QUERY TO CHANGE POSITIONING OF BOXES ON SERVICES.HTML PAGE ON SCREEN SIZES UP TO 730px */

@media(max-width: 730px) {
  #services-container {
    height: 75rem;
  }

  .box-serv {
    height: 15.63rem;
  }
}

/* MEDIA QUERY TO CHANGE BACKGROUND IMAGE POSITION ON ENQUIRE.HTML PAGE ON SCREEN SIZES UP TO 700px */

@media screen and (max-width: 700px) {
  #form {
    height: 46.88rem;
  }
}

/* MEDIA QUERY TO CHANGE NAV BAR AND SET H1 HEADING TO CENTRE POSITION ON SCREEN SIZES UP TO 600px */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
      display: none;
  }
  .topnav a.icon {
      float: right;
      display: block;
  }


/*@media screen and (max-width: 600px) {*/
  .topnav.responsive {
      position: relative;
  }

  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }

  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }

  #welcome h1 {
    text-align: center;
  }

/* MEDIA QUERY TO CHANGE BACKGROUND IMAGE POSITION ON ENQUIRE.HTML PAGE ON SCREEN SIZES UP TO 600px */

/*@media screen and (max-width: 600px) {*/
  #form {
    background-position: 25% 75%;
  }
}

/* MEDIA QUERY TO CHANGE POSITIONING OF BOXES ON SERVICES.HTML PAGE ON SCREEN SIZES UP TO 550px */

@media(max-width: 550px) {
  #services-container {
    height: 75rem;
    background-position: left;
  }

  .box-serv {
    height: 15.63rem;
  }


/* MEDIA QUERY TO CHANGE IMAGE AND CONTENT ON ABOUTME.HTML PAGE TO POSITION ON SCREEN SIZES UP TO 550px */

/*@media(max-width: 550px) {*/
  #me {
    height: 84.38rem;
  }

  .box-me {
    height: 30rem;
    width: 100%;
    display: block;
    float: left;
  }  
}

/* MEDIA QUERY TO CHANGE FOOTER ON SCREEN SIZES UP TO 540px */

@media(max-width: 540px) {
  .footer-social li {
    display: inline;
    padding: 1rem 1rem;
  }
}

/* MEDIA QUERY TO CHANGE CONTENT ON ENQUIRE.HTML PAGE TO POSITION ON SCREEN SIZES UP TO 480px */

@media(max-width: 480px) {
  #form {
    height: 50rem;
  }
}

/* MEDIA QUERY TO CHANGE CONTENT ON ABOUTME.HTML PAGE TO POSITION ON SCREEN SIZES UP TO 460px */

@media(max-width: 460px) {
  #me {
    height: 93.75rem;
  }

  .box-me {
    height: 34.38rem;
    width: 100%;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }
}

/* MEDIA QUERY TO CHANGE HERO IMAGE ON SCREEN SIZES UP TO 420px */

@media(max-width: 420px) {
  #hero-image {
    height: 15.63rem;
    width: 100%;
  }
  
  #hero-image h2 {
  font-size: 1rem;
  }
}

/* MEDIA QUERY TO CHANGE POSITIONING OF BOXES ON SERVICES.HTML PAGE TO POSITION ON SCREEN SIZES UP TO 410px */

@media(max-width: 410px) {
  #services-container {
    height: 87.5rem;
  }

  .box-serv {
    height: 18.13rem;
  }
}

/* MEDIA QUERY TO CHANGE IMAGE AND CONTENT ON ABOUTME.HTML PAGE TO POSITION ON SCREEN SIZES UP TO 400px */

@media(max-width: 400px) {
  #me {
    height: 100rem;
  }

  .box-me {
    height: 37.5rem;
    width: 100%;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }

/* MEDIA QUERY TO CHANGE FOOTER PADDING ON SCREEN SIZES UP TO 400px */

/*@media(max-width: 400px) {*/
  .footer-social li {
    display: inline;
    padding: 0.5rem 0.5rem;
  }
}

/* MEDIA QUERY TO CHANGE HERO IMAGE ON INDEX.HTML PAGE ON SCREEN SIZES UP TO 365px */

@media(max-width: 365px) {
  #hero-image {
    height: 17.19rem;
    width: 100%;
  }
}

/* MEDIA QUERY TO CHANGE IMAGE AND CONTENT ON ABOUTME.HTML PAGE TO POSITION ON SCREEN SIZES UP TO 360px */

@media(max-width: 360px) {
  #me {
    height: 104.69rem;
  }

  .box-me {
    height: 40.63rem;
    width: 100%;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }


/* MEDIA QUERY TO CHANGE CONTENT ON ENQUIRE.HTML PAGE TO POSITION ON SCREEN SIZES UP TO 360px */

/*@media(max-width: 360px) {*/
  #form {
    height: 53.13rem;
  }
}