@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    background: #000;
    margin: 5px;
    padding: 0;
}

/* Headings */

h1 h2 h3 {
    font-family: 'Montserrat', sans-serif;
}

/* Nav bar */

nav {
  height: 80px;
  width: 100%;
  border: 2px solid #FFF;
  background-color: #aaa9ad;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
}

nav li, .logo {
  float: left;
}

.logo {
  height: 80px;
  width: 80px;
  padding: 0;
  margin: 0;
}

nav li a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #000;
  text-align: center; 
  margin-left: 5px;
}

nav li a:hover {
  background-color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
}

.active {
  background-color: #FFF;
  text-transform: uppercase;
  font-weight: bold
}

.company-name {
  float: right;
  margin-right: 10px;
  color: #000;
}

/* Welcome Message */

#welcome {
  height: 100px;
  width: 100%;
  border: 2px solid red;
}

#welcome-text {
  text-align: center;
  padding: 5px;
  
}
#welcome-text h1 {
  text-align: center;
   
}
/* 3 Options box on home page */

.options {
  height: 300px;
  width: 100%;
  border: 2px solid yellow;
  text-align: center;
  padding: 50px 0;
  background: url(../images/personal-trainer.jpg) no-repeat center center;
}

.options a {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

.options-box {
  height: 250px;
  width: 22%;
  border: 2px solid green;
  float: left;
  margin-left: 8%;
  background: rgba(0, 0, 0, 0.5);
}

.options-box li {
  text-align: left;
}

.options-box:hover {
  background-color: #FFF;
  color: #000;
}

/* Footer */

/** Social Media links **/

footer {
  height: 50px;  /* How do i make it so that the social links remain aligned vertically when the height is changed? */
  border: 2px solid #FFF;
  background-color: #aaa9ad;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;   /* How do i get the footer margin to line up with the nav in the footer? */
}

.footer-social {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.footer-social > li {
  display: inline;
  padding-left: 20px; 
  
}
.footer-social i {
  font-size: 120%;
}

.footer-social a:hover {
  zoom: 150%;
}